*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Thin.ttf);
}

.main-container{
    width: 1400px;
    
}
.content-container{
    width: 1200px;
    margin: 0px auto;
    
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-button{
    display: flex;
    margin-top: 100px;


    font-size: 21px;
letter-spacing: -1px;
color: #232323;
font-weight: 900;
font-family: 'lato';
text-align: center;
padding: 20px 50px;
background-color: antiquewhite;
border: 2px solid black;
    
}

.nav-list{
    display: flex;
    gap: 90px;
    margin-top: 100px;
    list-style-type: none;



height: 16px;
font-size: 21px;
letter-spacing: -1px;

font-weight: 900;

font-family: 'lato';
}

.nav-list a{
    text-decoration: none;
    color: black;
}

